#account-page.account-page
  .account-page__inner
    .account-page__inner--left.account-page__header
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          .field-label
            = f.label :ニックネーム
          .field-input
            = f.text_field :name, autofocus: true, autocomplete: "name"
        .field
          .field-label
            = f.label :メールアドレス
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          .field-label
            = f.label :パスワード
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "password"
        .field
          .field-label
            = f.label :パスワード（確認用）
            %br/
            = f.password_field :password_confirmation, autocomplete: "password_confirmation"
          .actions
            = f.submit "登録する"
