.container
  .container_contents
    .container_contents_main
      .container_contents_main_icon
        .container_contents_main_icon_inside
          = link_to image_tag("member_photo_noimage_thumb.png", class: "container_contents_main_icon_inside_noimage"), "#"
          .container_contents_main_icon_inside_name
            = current_user.name
      .container_contents_main_profile
        .container_contents_main_profile_title
          プロフィール
          %hr
        .container_contents_main_profile_inside
      .container_contents_main_history
        .container_contents_main_history_title
          購入履歴
          %hr
        .container_contents_main_history_inside
    .container_contents_side
      .container_contents_side_title
        設定
      %ul.container_contents_side_contents
        %li
          = link_to "プロフィール","#"
          .container_contents_side_contents_profile_right
        %li
          = link_to "本人確認情報", new_profile_path
          .container_contents_side_contents_address_right
        %li
          = link_to "お気に入り一覧", my_favorites_users_path
        %li
          = link_to "支払い方法", new_card_path
        %li
          = link_to "メール / パスワード","#"
          .container_contents_side_contents_mailpass_right
        %li
          = link_to "ログアウト", logout_path, class: "container_contents_side_contents_logout"
          .container_contents_side_contents_logout_right