.exhibition
  .exhibition__first
    .exhibition__first__syuppin
      出品画像
    .exhibition__first__must
      必須
    .exhibition__first__sheet
      最大10枚までアップロードできます
    .exhibition__first__image
      .exhibition__first__image__picture
        = icon('fas fa-2x', 'camera')
      .exhibition__first__image__designation
        ドラッグアンドドロップ
      .exhibition__first__image__upload
        またはクリックしてファイルをアップロード
    .exhibition__first__image__not-picture
      画像がありません
  .exhibition__second
    .exhibition__second__main
      .exhibition__second__main__name
        商品名
      .exhibition__second__main__must
        必須
      .exhibition__second__main__form
        40文字まで
      .exhibition__second__main__alert2
        入力してください
      .exhibition__second__main__exhibition
        商品の説明
      .exhibition__second__main__must
        必須
      .exhibition__second__main__input
        商品の説明（必須1,000文字以内）
        %br
        （色、素材、重さ、定価、注意点など）
        %br
        例）2010年頃に1万円で購入したジャケットです。
        ライトグレーで傷はありません。あわせやすいので
        おすすめです。
      .exhibition__second__main__count
        0/1000
      .exhibition__second__main__alert
        入力してください
  .exhibition__third
    .exhibition__third__main
      .exhibition__third__main__details
        商品の詳細
      .exhibition__third__main__category
        カテゴリー
      .exhibition__third__main__must
        必須
      .exhibition__third__main__choice
        .exhibition__third__main__choice__message
          カテゴリー１
        .exhibition__third__main__choice__icon
          = icon('fas', 'chevron-down')
      .exhibition__third__main__choice
        .exhibition__third__main__choice__message
          カテゴリー２
        .exhibition__third__main__choice__icon
          = icon('fas', 'chevron-down')
      .exhibition__third__main__choice
        .exhibition__third__main__choice__message
          カテゴリー３
        .exhibition__third__main__choice__icon
          = icon('fas', 'chevron-down')
      .exhibition__third__main__must-choice
        カテゴリー選択してください
      .exhibition__third__main__size
        サイズ
      .exhibition__third__main__must
        必須
      .exhibition__third__main__size-form
        .exhibition__third__main__size-form__main
          サイズ選択
        .exhibition__third__main__size-form__icon
          = icon('fas', 'chevron-down')
      .exhibition__third__main__brand
        ブランド
      .exhibition__third__main__any
        任意
      .exhibition__third__main__any-form
        例)シャネル
      .exhibition__third__main__type
        商品の状態
      .exhibition__third__main__must
        必須
      .exhibition__third__main__type-choice
        .exhibition__third__main__type-choice__form
          状態の選択
        .exhibition__third__main__type__icon
          = icon('fas', 'chevron-down')
  .exhibition__forth
    .exhibition__forth__main
      .exhibition__forth__main__info
        配送について
      .exhibition__forth__main__burden
        配送料の負担
      .exhibition__forth__main__must
        必須
      .exhibition__forth__main__burden-form
        .exhibition__forth__main__burden-form__main
          送料込み
        .exhibition__forth__main__burden-form__icon
          = icon('fas', 'chevron-down')
      .exhibition__forth__main__choice
        選択してください
      .exhibition__forth__main__type
        配送の方法
      .exhibition__forth__main__must
        必須
      .exhibition__forth__main__burden-form
        .exhibition__forth__main__burden-form__main
          らくらくメール便
        .exhibition__forth__main__burden-form__icon
          = icon('fas', 'chevron-down')
      .exhibition__forth__main__choice
        選択してください
      .exhibition__forth__main__type
        発送元の地域
      .exhibition__forth__main__must
        必須
      .exhibition__forth__main__burden-form
        .exhibition__forth__main__burden-form__main
          神奈川
        .exhibition__forth__main__burden-form__icon
          = icon('fas', 'chevron-down')
      .exhibition__forth__main__choice
        選択してください
      .exhibition__forth__main__type
        配送までの日数
      .exhibition__forth__main__must
        必須
      .exhibition__forth__main__burden-form
        .exhibition__forth__main__burden-form__main
          １日
        .exhibition__forth__main__burden-form__icon
          = icon('fas', 'chevron-down')
      .exhibition__forth__main__choice
        選択してください
  .exhibition__fifth
    .exhibition__fifth__main
      .exhibition__fifth__main__pricerange
        販売価格(¥300〜9,999,999)
      .exhibition__fifth__main__price
        販売価格
      .exhibition__fifth__main__must
        必須
      .exhibition__fifth__main__form
        ¥ 0
      .exhibition__fifth__main__fee
        販売手数料(10%)
      .exhibition__fifth__main__fee2
        ー
      .exhibition__fifth__main__profit
        販売利益
      .exhibition__fifth__main__profit2
        ー
      .exhibition__fifth__main__btn
        出品する
      .exhibition__fifth__main__back
        もどる
      .exhibition__fifth__main__text
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律に
        %br
        より処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。