.confirmation-container__main
  .confirmation-container__main__contents
    %h2.confirmation-container__main__contents__head
      購入内容の確認
    %section.confirmation-container__main__contents__item
      .confirmation-container__main__contents__item__inner
        .confirmation-container__main__contents__item__inner__item-box
          %h3.confirmation-container__main__contents__item__inner__item-box__image
            = image_tag @item.images.first.image.url, width: '80', height: '80'
          .confirmation-container__main__contents__item__inner__item-box__detail
            %p.confirmation-container__main__contents__item__inner__item-box__detail__name
              = @item.name
            %p.confirmation-container__main__contents__item__inner__item-box__detail__price
              %span
                = "¥#{@item.price}"
              %spna.tax-and-shipping-fee
                = "（税込）#{@item.shipping.burden}"
    %section.confirmation-container__main__contents__item
      .confirmation-container__main__contents__item__inner
        %ul.confirmation-container__main__contents__item__inner__price-table
          %li.confirmation-container__main__contents__item__inner__price-table__left
            支払い金額
          %li.confirmation-container__main__contents__item__inner__price-table__right
            = "¥#{@item.price}"
        .confirmation-container__main__contents__item__inner__user-info
          .confirmation-container__main__contents__item__inner__user-info__top
            %h3
              支払い方法
            = link_to '変更する', card_path(current_user.id)
          %p.confirmation-container__main__contents__item__inner__user-info__text
            クレジットカード
            %br
            = "**** **** **** " + @customer_card.last4
            %br
            - exp_month = @customer_card.exp_month.to_s
            - exp_year = @customer_card.exp_year.to_s.slice(2,3)
            = '有効期限 '+ exp_month + " / " + exp_year
          %figure.card-logo
            = image_tag "#{@card_src}", width: '34', height: '20'
        .confirmation-container__main__contents__item__inner__user-info
          .confirmation-container__main__contents__item__inner__user-info__top
            %h3
              配送先
            = link_to '変更する', "#"
          %address.confirmation-container__main__contents__item__inner__user-info__text
            %p
              - post_first = @profile.post_code.to_s.slice(0,3)
              - post_last = @profile.post_code.to_s.slice(3,6)
              = '〒'+ post_first + " - " + post_last
              %br
              = @profile.prefecture
              = @profile.city
              = @profile.address
              %br
              = @profile.family_name
              = @profile.first_name
        %section
          = link_to '購入する', purchase_card_path(@item.id), method: :post, class: 'buy-button'