.search_by_ransack
  .container
    .container_contents
      #items.container_contents_main
        .container_contents_main__top
          検索結果
        .product-head
          = link_to '#' do
            .title
        %ul.product-lists
          - @items.each do |item|
            %li.product-list 
              = link_to item_path(item.id)  do
                .product-list__img
                  = image_tag item.images.first.image.url, width: '155', height: '155'
                .product-list__content
                  .name
                    = item.name
                  .price
                    = item.price
                    円

      .search-side
        = search_form_for @q, url: search_by_ransack_items_path,html: {class: 'search-detail'} do |f|
          %h3.search-detail__top
            詳細検索
          .search-detail__form-group
            = f.label :name_or_description_cont, "キーワード"
            = f.search_field :name_or_description_cont, placeholder: "例）値下げ", class: 'search-detail__form-group__input-default'
          .search-detail__form-group
            = f.label :brand_id_cont, "ブランド名から探す"
            = f.search_field :brand_id_cont, placeholder: "例）シャネル", class: 'search-detail__form-group__input-default'
          .search-detail__form-group
            = f.label :price, "価格" 
            .search-detail__form-group__price
              .min
                = f.number_field :price_gteq
              %span ~
              .max
                = f.number_field :price_lt
          .search-detail__form-group
            = f.label :status_eq_any, "商品の状態"
            .search-detail__form-group__checkbox
              .search-detail__form-group__checkbox__default
                = f.check_box :status_eq_any, { multiple: true }, 1, ''
                新品未使用
              .search-detail__form-group__checkbox__default
                = f.check_box :status_eq_any, { multiple: true }, 2, ''
                未使用に近い
              .search-detail__form-group__checkbox__default
                = f.check_box :status_eq_any, { multiple: true }, 3, ''
                目立った傷や汚れなし
              .search-detail__form-group__checkbox__default
                = f.check_box :status_eq_any, { multiple: true }, 4, ''
                やや傷や汚れあり
              .search-detail__form-group__checkbox__default
                = f.check_box :status_eq_any, { multiple: true }, 5, ''
                傷や汚れあり
              .search-detail__form-group__checkbox__default
                = f.check_box :status_eq_any, { multiple: true }, 6, ''
                全体的に状態が悪い
          .search-detail__form-group
            = f.label :shipping, "配送料の負担"
            .search-detail__form-group__checkbox
              .search-detail__form-group__checkbox__default
                = f.check_box :shipping_burden_eq_any, { multiple: true }, 1, ''
                送料込み（出品者負担）
              .search-detail__form-group__checkbox__default
                = f.check_box :shipping_burden_eq_any, { multiple: true }, 2, ''
                着払い（購入者負担）
          .search-detail__form-group
            = f.label :buyer_id, "販売状況"
            .search-detail__form-group__checkbox
              .search-detail__form-group__checkbox__default
                = f.check_box :buyer_id_null, as: :boolean, include_hidden: false
                販売中
              .search-detail__form-group__checkbox__default
                = f.check_box :buyer_id_not_null, as: :boolean, include_hidden: false
                売り切れ
          .submit-btn
            = f.submit
