- if @item.buyer_id.present? && @item.user_id == current_user.id
  - breadcrumb :my_item, @item
  = render partial: "layouts/breadcrumbs"
- elsif @item.buyer_id.present? && @item.buyer_id == current_user.id
  - breadcrumb :my_purchased_item, @item
  = render partial: "layouts/breadcrumbs"
.show-wrapper
  .show-main
    .show-main__contents
      .show-main__contents__item-box
        %h2.show-main__contents__item-box__name
          = @item.name
        .show-main__contents__item-box__images
          .show-main__contents__item-box__images__top
            = image_tag @item.images.first.image.url, width: '560', height: '346'
          %ul.show-main__contents__item-box__images__others
            - @item.images.each do |image|
              %li
                = image_tag image.image.url, width: '140', height: '87'
        .show-main__contents__item-box__price
          %span
            = "¥#{@item.price}"
          .show-main__contents__item-box__price__detail
            %span (税込)
            %span
              - if @item.shipping.burden_before_type_cast == 1
                送料込み
              - else
                着払い

        
        - if user_signed_in?
          - unless current_user.id == @item.user_id
            .show-main__contents__item-box__buy-btn
              - if @item.buyer_id.present?
                .show-main__contents__item-box__buy-btn__sold
                  売り切れました
              - else
                = link_to '購入画面に進む',purchase_confirmation_item_path(@item.id) , class: 'show-main__contents__item-box__buy-btn__available'
        - else
          .show-main__contents__item-box__buy-btn
            - if @item.buyer_id.present?
              .show-main__contents__item-box__buy-btn__sold
                売り切れました
            - else
              = link_to '購入画面に進む',purchase_confirmation_item_path(@item.id) , class: 'show-main__contents__item-box__buy-btn__available'
        .show-main__contents__item-box__description
          = simple_format @item.description
        .show-main__contents__item-box__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = @item.user.name
              %tr
                %th カテゴリ
                %td
                  = link_to @parent.name
                  %br
                  = link_to @children.name
                  %br
                  = link_to @category.name
              %tr
                %th ブランド
                %td
              %tr
                %th サイズ
                %td
              %tr
                %th 商品の状態
                %td
                  = @item.status
              %tr
                %th 配送料の負担
                %td
                  = @item.shipping.burden
              %tr
                %th 配送料の負担
                %td
                  = @item.shipping.shipping_way
              %tr
                %th 発送元の地域
                %td
                  = @item.shipping.area
              %tr
                %th 発送日の目安
                %td
                  = @item.shipping.day
        .show-main__contents__item-box__optional-area
          - if @item.users.include?(current_user)
            .show-main__contents__item-box__optional-area__like-btn-fill{data: {num: {favorites: @item.users.length}}}
              %i.fa.fa-star
              お気に入り
              = @item.users.length
          - else
            .show-main__contents__item-box__optional-area__like-btn-empty{data: {num: {favorites: @item.users.length}}}
              %i.fa.fa-star
              お気に入り
              = @item.users.length
          .show-main__contents__item-box__optional-area__report-btn{data: {item: {id: @item.id}}}
            = link_to  "#" do
              %i.fa.fa-flag
                不適切な商品の通報
      - if user_signed_in? && current_user.id == @item.user_id
        .show-main__contents__edit-destroy
          = link_to '商品の編集', edit_item_path(@item.id), class: 'show-main__contents__edit-destroy__edit-btn'
          %p or
          .show-main__contents__edit-destroy__destroy-btn この商品を削除する
      .show-main__contents__comment-box
        .show-main__contents__comment-box__new-comment
          = form_with(model: [@item, @comment], local: true) do |f|
            = f.text_area :text
            %p.show-main__contents__comment-box__new-comment__caution
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            - if @item.buyer_id.present?
              .comment-when-sold
                売り切れのためコメントできません
            -else
              %button{type: 'submit'}
                %i.fa.fa-comment
                  コメントする
        .show-main__contents__comment-box__index
          .show-main__contents__comment-box__index__title
            ＜質問・コメント一覧＞
          %ul.show-main__contents__comment-box__index__comments
            - if @comments.present?
              - @comments.each do |comment|
                %li.show-main__contents__comment-box__index__comments__comment
                  .comment__username
                    = link_to comment.user.name, "/users/#{comment.user_id}"
                    %span
                      ：
                  .comment__content
                    = comment.text
            - else 
              .error-messege
                コメントがありません。
      %ul.show-main__contents__links
        %li
          = link_to '< 前の商品', item_path(@item.id - 1), class: "left"
        %li
          = link_to '後ろの商品 >', item_path(@item.id + 1), class: "right"
      .show-main__contents__related-items
        = link_to 'メンズをもっと見る', "#"

  .show-modal
    .show-modal__body
      .show-modal__body__messages
        .show-modal__body__messages__bold
          確認
        削除すると二度と復活できません
        %br
        %br
        本当に削除しますか？
      .show-modal__body__confirmation
        .show-modal__body__confirmation__cancel-btn
          キャンセル
        = link_to '削除する', item_path(@item.id), method: :delete, class: 'show-modal__body__confirmation__delete-btn'