.container
  .container_contents
    .container_contents_main
      .container_contents_main_addcard
        支払い方法
        %hr
        .container_contents_main_addcard_inside
          = link_to "クレジットカードを登録する", "#", class: "container_contents_main_addcard_inside_bottun"

    .container_contents_side
      .container_contents_side_title
        設定
      %ul.container_contents_side_contents
        %li.container_contents_side_contents_profile
          = link_to "プロフィール"
          .container_contents_side_contents_profile_right
        %li.container_contents_side_contents_address
          = link_to "住所変更"
          .container_contents_side_contents_address_right
        %li.container_contents_side_contents_card
          = link_to "支払い方法"
          .container_contents_side_contents_card_right
        %li.container_contents_side_contents_mailpass
          = link_to "メール / パスワード"
          .container_contents_side_contents_mailpass_right
        %li.container_contents_side_contents_logout
          = link_to "ログアウト"
          .container_contents_side_contents_logout_right