%header.header
  .headerInner
    .mainHeader
      %h1.icon
        = link_to image_tag('logo.png', width: "140"), root_path
      .searchBox
        = form_for('#', method: :get, class: 'search-form') do
          %input.search-form__input{name: "keyword", placeholder: "キーワードから探す", type: "text", value: ""}
          %button.btn-search{ type: "submit"}
            .search-form__icon
              = image_tag 'icon-search 1.png',width: '20'
    .nav
      %ul.listsLeft
        %li.listsLeft__item--first
          = link_to 'カテゴリー', '#' 
          .tree.displayNone
            %ul.categoryTree
              %li.categoryTree--item{id: '1'}
              = link_to 'レディース','#'
        %li.listsLeft__item
          = link_to 'ブランド', '#', id: 'brandBtn'
      %ul.listsRight
        %li.listsRight__item--login
          = link_to 'ログイン', new_session_path
        %li.listsRight__item--new
          = link_to '新規会員登録', new_user_registration_path